#one {
    height: 1280px;
    width: 853px
}
#two {
    height: 1280px;
    width: 853px
}
#three {
    height: 1280px;
    width: 853px
}
#four {
    height: 1280px;
    width: 853px
}
#five {
    height: 1280px;
    width: 853px
}
#six {
    height: 1280px;
    width: 853px
}
#seven {
    height: 1280px;
    width: 853px
}


body {
    text-align: center
}
